 @use "sass:map";

 @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
 $typography-map: (
   "title": ("line-height": 20px,
     "size": 14px,
     "tracking": 0.1px,
     "weight": 500),
   "title-active": ("line-height": 20px,
     "size": 14px,
     "tracking": 0.1px,
     "weight": 700),
 );

 @mixin _private-apply-font($font-style) {
   $font-map: map.get($typography-map, $font-style);

   font-size: map.get($font-map, "size");
   font-weight: map.get($font-map, "weight");
   letter-spacing: map.get($font-map, "tracking");
   line-height: map.get($font-map, "line-height");
 }

 @mixin typography-title {
   @include _private-apply-font("title");
 }

 @mixin typography-title-active {
   @include _private-apply-font("title-active");
 }

 :root {
   color-scheme: light dark;

   // light theme colors
   --md-sys-color-background-light: rgb(248 249 255);
   --md-sys-color-tertiary-light: rgb(107 87 120);
   --md-sys-color-tertiary-container-light: rgb(243 218 255);
   --md-sys-color-inverse-surface-light: rgb(46 49 53);


   // dark theme colors
   --md-sys-color-background-dark: rgb(17 20 24);
   --md-sys-color-tertiary-dark: rgb(215 190 228);
   --md-sys-color-tertiary-container-dark: rgb(82 63 95);
   --md-sys-color-inverse-surface-dark: rgb(225 226 232);

   // theme colors
   --md-sys-color-background: light-dark(var(--md-sys-color-background-light), var(--md-sys-color-background-dark));
   --md-sys-color-tertiaryest: light-dark(var(--md-sys-color-tertiary-light), var(--md-sys-color-tertiary-dark));
   --md-sys-color-on-surface: light-dark(var(--md-sys-color-tertiary-container-light), var(--md-sys-color-tertiary-container-dark));
   --md-sys-color-inverse-surface: light-dark(var(--md-sys-color-inverse-surface-light), var(--md-sys-color-inverse-surface-dark));
 }

 body {
   margin: 0;
   font-family: "Roboto", sans-serif;
   box-sizing: border-box;
   @include typography-title;
 }

 .material-symbols-outlined {
   font-variation-settings: 'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24;
     font-size: 24px;
   margin: 0 12px 0 16px;
 }

 .container {
   height: 100dvh;
   display: grid;
   grid-template-columns: min-content 1fr;
   gap: 35px;
   margin: auto auto;
   background-color: (var(--md-sys-color-background));
 }

 .material-symbols-outlined {}

 .sidebar {
   background-color: antiquewhite;
   border-radius: 0 30px 30px 0;
   width: 360px;
   box-sizing: border-box;

   &__title {
     padding: 16px 16px 0 16px;
     @include typography-title-active;
   }

   &__item {
     margin: 12px;
     display: flex;
     align-items: center;
     padding: 16px;
     border-radius: 24px;
     height: 56px;
     box-sizing: border-box;

     &:hover {
       background-color: #ebe6f5;
       box-sizing: border-box;
       width: 336px;
     }

     &--active {
       background-color: #d9d4ec;
       box-sizing: border-box;
       width: 336px;

       .material-symbols-outlined {
         margin-right: 12px;
       }
     }

     &--count {}
   }

   &__labels {
     position: relative;
     margin-top: 16px;

     &::before {
       content: '';
       position: absolute;
       top: 0;
       left: 28px;
       right: 28px;
       height: 1px;
       background-color: black;
     }

     &__item {
       margin: 12px;
       display: flex;
       align-items: center;
       padding: 16px;
       border-radius: 24px;
       height: 56px;
       box-sizing: border-box;

       &:hover {
         background-color: #ebe6f5;
         box-sizing: border-box;
         width: 336px;
       }

       &--title {}
     }
   }
 }