 @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
 
 @mixin typography ($font-size, $font-weight ) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height:1.5;
}

 html,body {
  margin: 0;
  padding: 0px;
}  

body{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color:lightgray;
  @include typography(16px, 400);
}
 
 .material-symbols-outlined {
   font-variation-settings: 'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24
 }